.values-section {
  max-width: 720px;
  margin: 3rem auto;
  text-align: center;
  padding: 1.5rem;
}

.values-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1.2rem;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.value-icon {
  font-size: 2rem;
}

.value-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1e293b;
}

.values-description {
  font-size: 1.5rem;
  line-height: 1.7;
  color: blue;
}

/* Responsive */
@media (max-width: 600px) {
  .values-icons {
    gap: 1.5rem;
  }
}
.features-section {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.feature-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.feature-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.feature-card h3 {
  margin: 1rem 1rem 0.5rem;
  font-size: 1.05rem;
  font-weight: 700;
  color: #1e293b;
}

.feature-card p {
  margin: 0 1rem 1.4rem;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #475569;
}

.food-section {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.food-card {
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.food-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.food-card h3 {
  margin: 1rem 1rem 0.4rem;
  font-size: 1rem;
  font-weight: 700;
  color: #1e293b;
}

.food-card p {
  margin: 0 1rem 1.3rem;
  font-size: 0.88rem;
  line-height: 1.6;
  color: #475569;
}
.programs-section {
  max-width: 1200px;
  margin: 3.5rem auto;
  padding: 0 2rem;
}

.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1e293b;
}

.programs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.program-card {
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.program-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.program-card h3 {
  margin: 1rem 0 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #1e293b;
}
